extends ../layout

block mainContent
    input#uriRoot(type="hidden" value!= uriRoot)
    input#socketUrl(type="hidden" value!= socketUrl)
    .row
        .col-md-12.col-lg-12
            .card.m-b-30
                .card-body.table-responsive
                    h5.header-title Active Orders Table
                    //p.text-muted
                    //    | DataTables has most features enabled by default, so all you need to do to use it with your own ables is to call the construction function:
                    //    code $().DataTable();
                    //    |  and border bottom.
                    div
                        i.user-select-label.fa.fa-user
                        select#accountId.user-select.form-control-sm(name='user')
                            for user in users
                                option(value=user['id'])=user['username'] + " - " + user['email']
                    div
                        table#table.table.table-striped.dataTable(cellspacing=0)
                            thead
                                tr
                                    th Side
                                    th Symbol
                                    th Qty
                                    th Order Price
                                    th Stop Price
                                    th Filled
                                    th Remaining
                                    //th Fill Price
                                    th Type
                                    th Status
                                    th Time
                            tbody
                            tfoot
                                tr
                                    th Side
                                    th Symbol
                                    th Qty
                                    th Order Price
                                    th Stop Price
                                    th Filled
                                    th Remaining
                                    //th Fill Price
                                    th Type
                                    th Status
                                    th Time
