extends ../layout

block mainContent
    input#uriRoot(type="hidden" value!= uriRoot)
    .row
        .col-md-6.col-lg-6.col-xl-3
            .card.m-b-30
                .card-body.table-responsive
                    //h5.header-title New Users Today
                    h5.header-title.row
                        i.header-title-icon.round.header-title-icon-users.fa.fa-users
                        div.property
                            p New Users
                            p#newUsers.value N/A
        .col-md-6.col-lg-6.col-xl-3
            .card.m-b-30
                .card-body.table-responsive
                    //h5.header-title New Users Today
                    h5.header-title.row
                        i.header-title-icon.round.header-title-icon-bots.fa.fa-robot
                        div.property
                            p Active Bots
                            p#activeBots.value N/A
        .col-md-6.col-lg-6.col-xl-3
            .card.m-b-30
                .card-body.table-responsive
                    //h5.header-title New Users Today
                    h5.header-title.row
                        i.header-title-icon.round.header-title-icon-profit.fab.fa-bitcoin
                        div.property
                            p Daily Profit
                            p#dailyProfit.value N/A
        .col-md-6.col-lg-6.col-xl-3
            .card.m-b-30
                .card-body.table-responsive
                    //h5.header-title New Users Today
                    h5.header-title.row
                        i.header-title-icon.round.header-title-icon-trading.fa.fa-exchange-alt
                        div.property
                            p Daily Trades
                            p#dailyTrades.value N/A
                    ////p.text-muted
                    ////    | DataTables has most features enabled by default, so all you need to do to use it with your own ables is to call the construction function:
                    ////    code $().DataTable();
                    ////    |  and border bottom.
                    //div
                    //    table#newUsersTable.table
                    //        thead
                    //            tr
                    //                th No.
                    //                th Email
                    //                th Username
                    //        tbody
                    //        tfoot
                    //            tr
                    //                th No.
                    //                th Email
                    //                th Username
        .col-md-12.col-lg-12
            .card.m-b-30
                .card-body.table-responsive
                    h5.header-title Total Users
                    //p.text-muted
                    //    | DataTables has most features enabled by default, so all you need to do to use it with your own ables is to call the construction function:
                    //    code $().DataTable();
                    //    |  and border bottom.
                    div
                        table#usersTable.table.table-striped.dataTable(cellspacing=0)
                            thead
                                tr
                                    th No.
                                    th Email
                                    th Username
                            tbody
                            tfoot
                                tr
                                    th No.
                                    th Email
                                    th Username
