module.exports = {
    server: {
        isDev: false,
        // port: 3030,
        port: 3000,
        portSsl: 443,
        userBaseUrl: 'http://127.0.0.1:3000/',
        userUriRoot: '/user/',
        adminBaseUrl: 'http://127.0.0.1:3000/admin/',
        adminUriRoot: '/admin/',
        assetsVendorsRoot: '/vendors/',
        name: 'Bitmex-Profit',
        description: 'BitMEX Profit',
        author: 'Zhenlong J.',
        secret: 'bitmexprofit@@',
        sslKey: './sslcert/localhost.key',
        sslCert: './sslcert/localhost.cert',
        sslCA: './sslcert/alphasslrootcabundle.crt',
        environment: 'development',
    },
    mysql: {
        connectionLimit: 10,
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'bitmex_profit',
        port: 3306
    },
    session: {
        name: 'ProwebMedia2',
        key: 'bitmexprofit',
        secret: 'bitmexprofittoken@@',
    },
    smtp: {
        service: 'gmail',
        host: 'smtp.gmail.com',
        port: 465,
        secure: true,
        user: '',
        pass: '',
    },
    dbTblName: {
        admins: 'admins',
        users: 'users',
        bitmex_settings: 'bitmex_settings',
        autoview_data: 'autoview_data',
        bitmex_wallet_history: 'bitmex_wallet_history',
        bitmex_orders: 'bitmex_orders',
        tokens: 'tokens',
    },
};
